<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:task="http://www.springframework.org/schema/task"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation=" 
       http://www.springframework.org/schema/beans 
       http://www.springframework.org/schema/beans/spring-beans-3.0.xsd 
       http://www.springframework.org/schema/tx 
       http://www.springframework.org/schema/tx/spring-tx-3.0.xsd 
       http://www.springframework.org/schema/aop 
       http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
       http://www.springframework.org/schema/context  
       http://www.springframework.org/schema/context/spring-context-3.0.xsd
       http://www.springframework.org/schema/task 
       http://www.springframework.org/schema/task/spring-task-3.0.xsd">

	<!-- 加载配置属性文件 -->
	<context:property-placeholder ignore-unresolvable="true" location="classpath:application.properties" />
	
	<!-- 利用注解进行bean的生成，并进行自动连锁 -->
	<!-- sihao_server -->
	<context:component-scan base-package="com.randioo.bank_server" />
	<!-- randioo-server-base -->
	<context:component-scan base-package="com.randioo.randioo_server_base" />

	<!-- 定时器-->
	<task:annotation-driven />

	<!-- aop自动连锁 -->
	<aop:aspectj-autoproxy />


	<!-- BoneCP configuration(Game) -->
	<bean id="dataSource" class="com.jolbox.bonecp.BoneCPDataSource"
		destroy-method="close">
		<property name="driverClass" value="${jdbc.driver}" />
		<property name="jdbcUrl" value="${jdbc.url}" />
		<property name="username" value="${jdbc.username}" />
		<property name="password" value="${jdbc.password}" />
		<property name="maxConnectionsPerPartition" value="1" />
		<property name="minConnectionsPerPartition" value="1" />
		<property name="poolAvailabilityThreshold" value="10" />
		<property name="partitionCount" value="3" />
		<property name="acquireIncrement" value="2" />
		<property name="statementsCacheSize" value="100" />
		<property name="releaseHelperThreads" value="3" />
		<property name="acquireRetryAttempts" value="100" />
		<property name="lazyInit" value="false" />
	</bean>

	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="typeAliasesPackage" value="com.randioo"/>
		<property name="typeAliasesSuperType" value="com.randioo.randioo_server_base.utils.db.Saveable"/>
		<property name="mapperLocations" value="classpath:/db/**/*.xml"/>
		<property name="configLocation" value="classpath:mybatis-config.xml"></property>
	</bean>
	
	<!-- 游戏服务器数据库 -->
	<!-- 自动扫包进行持久层生成 -->
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="sqlSessionFactoryBeanName" value="sqlSessionFactory" />
		<property name="basePackage" value="com.randioo.shizurongyao_server.dao" />
		<property name="annotationClass" value="com.randioo.randioo_server_base.annotation.MyBatisGameDaoAnnotation" />
	</bean>

	<import resource="communal.xml" />
</beans>